
:root {
  --check-color: "#FF3F7F"
}

.bot_checkbox {
  appearance: none; /* ✅ 关键：移除浏览器默认checkbox */
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top:0;
  transform:translateX(110%);
  /* accent-color: var(--check-color); */
  cursor:pointer;
}

.bot_checkbox:focus{
  outline: none !important;
}
